<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
		<!-- fileName and archiveFileName are set via code from ForeCastle.properties-->
    <target xsi:type="File" 
						name="baselog" 
						archiveNumbering="DateAndSequence" 
						archiveEvery="Hour"
						archiveAboveSize="5242880"
						archiveDateFormat="yyyyMMddHHmm"
						autoFlush="true"
						createDirs="true"
						maxArchiveFiles="30"
            layout="[${date:format=yyyy}-${date:format=MM}-${date:format=dd} ${date:format=HH}:${date:format=mm}:${date:format=ss}] ${uppercase:${level}} ${message} ${exception:format=message}" />
    <target xsi:type="File" 
						name="errlog" 
						archiveNumbering="DateAndSequence" 
						archiveEvery="Hour"
						archiveAboveSize="5242880"
						archiveDateFormat="yyyyMMddHHmm"
						autoFlush="true"
						createDirs="true"
						maxArchiveFiles="30"
            layout="[${date:format=yyyy}-${date:format=MM}-${date:format=dd} ${date:format=HH}:${date:format=mm}:${date:format=ss}] ${uppercase:${level}} ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="baselog" />
    <logger name="*" minlevel="Error" writeTo="errlog" />
  </rules>
</nlog>